language: python
python:
  - "2.7"
  - "3.6"
install:
  - pip install coveralls PyYaml requests mock pydoc-markdown
script:
  - coverage run --source spotinst_sdk2 setup.py test
  - coveralls
after_success:
    coveralls